extends ../templates/template

block content
    table(style="width: 100%; padding: 10px; margin: 0 auto; border-collapse: collapse;")

        <tr>
            <td style="background-color: #fff; text-align: left; padding: 0;">
                <div style="width: 100%; height: 40px; background: #E4E4E4;">

                </div>
                <br>
            </td>
        </tr>
        
        <tr>
            <td style="background-color: #fff; text-align: left; padding: 0;">
                <a href="">
                    img(
                        src="https://johancastillo.github.io/email-ctpaga/img/LOGO.png"
                        alt="" 
                        style="padding: 10px; display: block; margin: 0 auto; width: 50%; max-width: 200px;"
                    )
                </a>
            </td>
        </tr>

        <tr>
            <td style="border-left: 25px solid red; border-right: 25px solid red; display: flex; align-items: center; justify-content: center;">
                <div style="color: #34495e; width: 100%; margin: 4% 10% 2%; text-align: center; font-family: sans-serif;">

                    <h2 style="color:#59595e; margin: 0 0 7px; text-transform: uppercase; font-size: 15px;">
                        | CUENTA RECHAZA
                    </h2>

                </div>
            </td>
        </tr>

        <tr>
            <td style="background-color: #fff; text-align: left; padding: 0;">
                <br>
                <a href="">
                    img(
                        src="https://johancastillo.github.io/email-ctpaga/img/10.png" 
                        alt="" 
                        style="padding: 10px; display: block; margin: 0 auto; width: 80px;"
                    )
                </a>
            </td>
        </tr>

        <tr>
            <td style="background-color: #fff; font-size: 16px">
                <div style="color: #34495e; margin: 4% 10% 2%; text-align: left; font-family: sans-serif;">

                    <p style="color:#59595e; margin: 0 0 7px;">
                        | Estimado/a <strong>Jorge Paisano</strong>
                    </p>

                    <br>
                    <br>

                    <p style="color:#59595e; margin: 0 0 7px;">
                        | Después de revisar exhaustivamente la información proporcionada por usted, lamentamos informarle que debemos RECHAZAR su solicitud, las leyes no nos obligan a informarle la razón de nuestra decisión, por lo que nos reservamos dicha información.
                    </p>

                    <br>

                    <p style="color:#59595e; margin: 0 0 7px;">
                        | Muchas gracias.
                    </p>

                    <br>
                    <br>
                    <br>

                    <h4 style="color:#59595e; margin: 0 0 7px;">
                        <br>
                        | El equipo de CTPaga.
                    </h4>

                    <br>
                    <br>
                    <br>
                    <br>

                </div>
            </td>
        </tr>

        


        <tr>
            include ../components/socials
        </tr>

        <tr>
            <td style="background-color: #fff; text-align: left; padding: 0;">
                <br>
                <br>
                <div style="width: 100%; height: 40px; background: #E4E4E4;">

                </div>
            </td>
        </tr>
