extends ../templates/template
    
block content
    table(style="width: 100%; padding: 10px; margin: 0 auto; border-collapse: collapse;")

        tr
            td(style="background-color: #fff; text-align: left; padding: 0;")
                div(style="width: 100%; height: 40px; background: #E4E4E4;")

                br
        
        tr
            td(tyle="background-color: #fff; text-align: left; padding: 0;")
                a(href="")
                    img( 
                        src="https://johancastillo.github.io/email-ctpaga/build/img/LOGO.png"
                        alt="" 
                        style="padding: 10px; display: block; margin: 0 auto; width: 50%; max-width: 200px;"
                    )

        tr
            td(style="border-left: 25px solid #00b426; border-right: 25px solid #00b426; display: flex; align-items: center; justify-content: center;")
                div(style="color: #34495e; width: 100%; margin: 4% 10% 2%; text-align: center; font-family: sans-serif;")

                    h2(style="color:#59595e; margin: 0 0 7px; text-transform: uppercase; font-size: 15px;") SOLICITUD RECUPERACIÓN DE <br> CONTRASEÑA EN EL ID DE CTPAGA


        tr
            td(style="background-color: #fff; text-align: left; padding: 0;")
                br

                a(href="")
                    img(
                        src="https://johancastillo.github.io/email-ctpaga/build/img/4.png" 
                        alt="" 
                        style="padding: 10px; display: block; margin: 0 auto; width: 80px;"
                    )

        tr
            td(style="background-color: #fff; font-size: 16px")
                div(style="color: #34495e; margin: 4% 10% 2%; text-align: left; font-family: sans-serif;")

                    p(style="color:#59595e; margin: 0 0 7px;") Estimado/a <strong>JORGE PAISANO</strong>

                    br
                    br

                    p(tyle="color:#59595e; margin: 0 0 7px;") Ha solicitado recuperar la contraseña para su ID de CTPaga. Por favor seleccione el siguiente enlace
                        
                        <strong>
                           a(href="https://ctpaga.app/recuperatuclave") https://ctpaga.app/recuperatuclave
                        </strong>

                        |  para su recuperación.

                    br

                    p(style="color:#59595e; margin: 0 0 7px;")
                        p Recuerde que su contraseña debe contener los siguientes caracteres:

                        ul
                            li Una letra en Mayúscula
                            li Al menos una letra en minúscula
                            li Al menos un carácter numérico
                            li Un carácter especial (#, ., $, /, *)

                        br
                        br

                        p Si no solicitó este cambio, comuníquese con el servicio de atención al cliente a través del correo soporte@ctpaga.com.

                        br
                        br

                        p Gracias por elegir CTPaga como su plataforma de comercio electrónico.

                    br
                    br
                    br
                    br

                    h4(style="color:#59595e; margin: 0 0 7px;") El equipo de CTpaga.

                    br
                    br
                    br
                    br

              
        


        tr
            include ../components/socials

        tr
            td(style="background-color: #fff; text-align: left; padding: 0;")
                br
                br
                div(style="width: 100%; height: 40px; background: #E4E4E4;")


